<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
</head>
<body>
    {% for log in logs %}
    <tr>
        <td>{{ log.cctv }}</td>
        <td><a href="#" onclick="openVideo('{{ log.cctv }}', '{{ log.date }}', '{{ log.occurrence_time }}')">{{ log.date }}</a></td>
        <td>{{ log.occurrence_time }}</td>
        <td>{{ log.incident }}</td>
    </tr>
    {% endfor %}
</body>
</html>
